version: "3.8"

secrets:
  config_json:
    file: /home/htpc/swag-foundry/secrets.json

services:
  # jellyfin is used to serve your media to the client devices
  jellyfin:
    image: lscr.io/linuxserver/${MEDIA_SERVICE}
    container_name: ${MEDIA_SERVICE}
    #network_mode: host # plex
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - VERSION=docker
      - NVIDIA_DRIVER_CAPABILITIES=all
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ${MEDIA_DIRECTORY}/movies:/data/movies
      - ${MEDIA_DIRECTORY}/tvshows:/data/tvshows
      - ${INSTALL_DIRECTORY}/config/${MEDIA_SERVICE}:/config
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    ports: # plex
      - 8096:8096 # plex
    restart: unless-stopped

  # qBitorrent is used to download torrents
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:4.6.0
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - WEBUI_PORT=8080
      - DOCKER_MODS=linuxserver/mods:universal-cron
    volumes:
      - ${MEDIA_DIRECTORY}/downloads:/downloads
      - ${INSTALL_DIRECTORY}/config/qbittorrent:/config
    restart: unless-stopped
    #ports: # qbittorrent
    #  - 8080:8080 # qbittorrent
    network_mode: "service:gluetun"

  # Sonarr is used to query, add downloads to the download queue and index TV shows
  # https://sonarr.tv/
  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${MEDIA_DIRECTORY}/tvshows:/tv
      - ${MEDIA_DIRECTORY}/downloads:/downloads
      - ${INSTALL_DIRECTORY}/config/sonarr:/config
    ports:
      - 8989:8989
    restart: unless-stopped

  # Radarr is used to query, add downloads to the download queue and index Movies
  # https://radarr.video/
  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${MEDIA_DIRECTORY}/movies:/movies
      - ${MEDIA_DIRECTORY}/downloads:/downloads
      - ${INSTALL_DIRECTORY}/config/radarr:/config
    ports:
      - 7878:7878
    restart: unless-stopped

  # Lidarr is used to query, add downloads to the download queue and index Music
  # https://lidarr.audio/
  lidarr:
    image: lscr.io/linuxserver/lidarr
    container_name: lidarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${MEDIA_DIRECTORY}/music:/music
      - ${MEDIA_DIRECTORY}/downloads:/downloads
      - ${INSTALL_DIRECTORY}/config/lidarr:/config
    ports:
      - 8686:8686
    restart: unless-stopped

  # Readarr is used to query, add downloads to the download queue and index Audio and Ebooks
  # https://readarr.com/
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${MEDIA_DIRECTORY}/books:/books
      - ${MEDIA_DIRECTORY}/downloads:/downloads
      - ${INSTALL_DIRECTORY}/config/readarr:/config
    ports:
      - 8787:8787
    restart: unless-stopped

  # Calibre is used to organise ebooks etc.
  calibre:
    image: lscr.io/linuxserver/calibre
    container_name: calibre
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${MEDIA_DIRECTORY}/books:/books
      - ${MEDIA_DIRECTORY}/downloads:/downloads
      - ${INSTALL_DIRECTORY}/config/calibre:/config
    ports:
      - 8181:8181
      - 8081:8081
      - 9090:8080
    restart: unless-stopped

  # Bazarr is used to download and categorize subtitles
  # https://www.bazarr.media/
  bazarr:
    image: lscr.io/linuxserver/bazarr
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${MEDIA_DIRECTORY}/movies:/movies
      - ${MEDIA_DIRECTORY}/tvshows:/tv
      - ${INSTALL_DIRECTORY}/config/bazarr:/config
    ports:
      - 6767:6767
    restart: unless-stopped

  # Prowlarr is our torrent indexer/searcher. Sonarr/Radarr use Prowlarr as a source
  # https://prowlarr.com/
  prowlarr:
    image: lscr.io/linuxserver/prowlarr
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${INSTALL_DIRECTORY}/config/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  # Tdarr is our transcoder.
  # https://tdarr.com
  tdarr:
    container_name: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    restart: unless-stopped
    network_mode: bridge
    ports:
      - 8265:8265 # webUI port
      - 8266:8266 # server port
    environment:
      - TZ=Europe/London
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK_SET=002
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - inContainer=true
      - ffmpegVersion=6
      - nodeName=MyInternalNode
      - NVIDIA_DRIVER_CAPABILITIES=all
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ${INSTALL_DIRECTORY}/config/tdarr/server:/app/server
      - ${INSTALL_DIRECTORY}/config/tdarr/configs:/app/configs
      - ${INSTALL_DIRECTORY}/config/tdarr/logs:/app/logs
      - ${MEDIA_DIRECTORY}:/media
      - ${INSTALL_DIRECTORY}/config/tdarr/transcode_cache:/temp
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: all
            capabilities: [gpu]

  # Gluetun is our VPN, so you can download torrents safely
  gluetun:
    image: qmcgaw/gluetun:v3.34.1
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp # HTTP proxy
      - 8388:8388/tcp # Shadowsocks
      - 8388:8388/udp # Shadowsocks
      - 8080:8080/tcp # gluetun
      - 53396:53396/tcp # Forwarding?
      - 53396:53396/udp # Forwarding?
      - 63914:63914/tcp
      - 63914:63914/udp
      - 62498:62498/tcp
      - 62498:62498/udp
      - 55133:55133/tcp
      - 55133:55133/udp
      - 34659:34659/tcp
      - 34659:34659/udp
    volumes:
      - ${INSTALL_DIRECTORY}/config/gluetun:/config
    environment:
      - VPN_SERVICE_PROVIDER=airvpn  # ${VPN_SERVICE}
      - VPN_TYPE=wireguard # openvpn
      # - OPENVPN_USER=${VPN_USER}
      # - OPENVPN_PASSWORD=${VPN_PASSWORD}
      # - OPENVPN_CIPHERS=AES-256-GCM
#      - WIREGUARD_PUBLIC_KEY=PyLCXAQT8KkM4T+dUsOQfn+Ub3pGxfGlxkIApuig+hk=
      - WIREGUARD_PRIVATE_KEY=0BBuv4s3V4UOU/TKYnT23ZZ/GVA96ANJ9Ibl7STOmWE=
      - WIREGUARD_PRESHARED_KEY=mpsyCVI5Z8G/RqZ5l+aL+iFwsjGSBCU3FYAHkwAvDPc=
      - WIREGUARD_ADDRESSES=10.174.50.153/32,fd7d:76ee:e68f:a993:5352:b5bb:cbfa:f68a/128
#      - VPN_ENDPOINT_IP=gb3.vpn.airdns.org
#      - VPN_ENDPOINT_PORT=1637
#      - DNS_ADDRESS=10.128.0.1,fd7d:76ee:e68f:a993::1
      - FIREWALL_VPN_INPUT_PORTS=53396,34659,55133,62498,63914
      - SERVER_COUNTRIES=United Kingdom
      - HTTPPROXY=on
    restart: unless-stopped

  flaresolverr:
    # DockerHub mirror flaresolverr/flaresolverr:latest
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=Europe/London
    ports:
      - 8191:8191
    restart: unless-stopped

  # Portainer helps debugging and monitors the containers
  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    ports:
      - 9000:9000
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${INSTALL_DIRECTORY}/config/portainer:/data
    restart: unless-stopped

  # Watchtower is going to keep our instances updated
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    environment:
      - WATCHTOWER_CLEANUP=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

# ------------------------------------- #
#             FOUNDRY VTT               #
# ------------------------------------- #

  foundry:
    container_name: foundry
    hostname: my_foundry_host
    image: felddy/foundryvtt:release
    volumes:
      - type: bind
        source: /home/htpc/swag-foundry/foundry
        target: /data
    secrets:
      - source: config_json
        target: config.json
    ports:
      - target: 30000
        published: 30000
        protocol: tcp
    restart: unless-stopped

  swag:
    image: lscr.io/linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UCT                                       # replace with your timezone https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
      - URL=vaud.uk                                      # replace with your domain name
      - SUBDOMAINS=foundry
      - VALIDATION=http                               # replace with your email address here (optional)
    volumes:
      - /home/htpc/swag-foundry/swag:/config                       # replace with the correct path to your swag config dir
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped

  beasties:
    container_name: beloved-beasties
    image: beloved-beasties
    ports:
      - target: 8383
        published: 8383
        protocol: tcp
    restart: unless-stopped

  personal:
    container_name: personal-site
    image: personal-site
    ports:
      - target: 8282
        published: 8282
        protocol: tcp
    restart: unless-stopped

  bentley-consulting:
    container_name: bentley-consulting
    image: bentley-consulting
    ports:
      - target: 8484
        published: 8484
        protocol: tcp
    restart: unless-stopped

  minecraft:
    image: itzg/minecraft-server
    container_name: minecraft
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    restart: unless-stopped
    environment:
      VERSION: "1.21.4"
      EULA: "TRUE"
      SIMULATION_DISTANCE: "20"
      VIEW_DISTANCE: "32"
      MEMORY: "5G"
      USE_AIKAR_FLAGS: "true"
      TYPE: "FABRIC"
      OPS: |-
        Vaudrain
      CURSEFORGE_FILES: |-
        fabric-api
        cloth-config
        almanac-lib
        modernfix
        let-me-despawn
        convenient-mobgriefing
        lithium
        ferritecore-fabric
        distant-horizons
      CF_API_KEY: "$$2a$$10$$3HhGDxhuMIAi1ckbupjY6u9KbukPhDX44bbJYbdM2oNTlNMJ5jxp."
    volumes:
      # attach the relative directory 'data' to the container's /data path
      #  - ./data:/data
      - /home/htpc/minecraft/data:/data

    # ------------------------------------- #
    #            HOME ASSISTANT             #
    # ------------------------------------- #

  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - /home/htpc/.config/homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
